.u-wrapper {
  padding-right: 24px;
  padding-left: 24px;
  overflow: hidden;

  @media (min-width: 375px) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width: 768px) {
    padding-right: 48px;
    padding-left: 48px;
  }
}
