:root {

  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-black: #273849;
  --c-black-pure: #000000;

  --c-white: #ffffff;

  --c-gray: #7e8a98;
  --c-gray-light: #b3becb;
  --c-gray-lighter: #cbd4e0;

  --c-divider: #eaeaea;

  --c-vue-green: #41b883;
  --c-vue-green-light: #42e59d;
  --c-vue-green-lighter: #88feca;

  --c-danger: #ef295d;

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family-base: "Roboto", "Noto Sans JP", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-ja: "Roboto", "Noto Sans JP", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-en: "Source Sans Pro", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-mono: "Iconsolata", "monospace", "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue";

  /**
   * Z Indexes
   * --------------------------------------------------------------------- */

  /* e.g. --z-index-header: 1000; */

  /**
   * Shadows
   * --------------------------------------------------------------------- */

  --shadow-depth-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --shadow-depth-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --shadow-depth-3: 0 12px 32px rgba(0, 0, 0, .10), 0 2px 6px rgba(0, 0, 0, .08);
  --shadow-depth-4: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  --shadow-depth-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);

}
