.u-medium {
  p {
    margin: 28px 0;
    font-size: 16px;
    line-height: 28px;
  }

  h2 {
    margin: 56px 0 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  ol {
    padding-left: 22px;
    margin: 28px 0;
  }

  li {
    line-height: 28px;
  }

  li + li {
    padding-top: 8px;
  }

  li > ol {
    padding-top: 8px;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--c-vue-green);
    transition: color 0.25s;

  &:hover {
     text-decoration: none;
     color: var(--c-vue-green-light);
   }
  }
}
