.u-section-content__heading {
  font-family: var(--font-family-en);
  font-size: 20px;
  font-weight: 700;
  color: var(--c-vue-green);
  letter-spacing: 1px;
}

.u-section-content__title {
  padding-top: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;

  br { display: none; }

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -1px;
  }

  @media (min-width: 1056px) {
    br { display: block; }
  }
}

.u-section-content__body {
  padding-top: 28px;
  line-height: 28px;
}

.u-section-content__actions {
  padding-top: 40px;

  @media (min-width: 1056px) {
    display: flex;
  }
}

.u-section-content__action {
  width: 256px;

  @media (min-width: 1056px) {
    width: 50%;
  }
}
